* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex; /* Pushes everything into a row */
  justify-content: space-between; /* Pushes space between evenly */
  align-items: center;
  margin-bottom: 40px;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

/* Make app__left take up 90% of the screen*/
.app__left {
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

a:link {
  text-decoration: none;
}

.data__link {
   color: rgb(199, 199, 199);
   display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.data__link:hover {
   color: lightgrey;
}

/* When screen get`s reduced the sidebar will snap below the left side app */
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
